.showUsers{
    width: 90%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.showUsers-title{
}

.showUsers__data{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.showUsers__data-name{
    margin-bottom: .2rem;
}
.showUsers__data-age{}